@import '../global/mixins.scss';

.biuro {
    margin: 20px 0;
    height: 450px !important;
    display: flex;

    .slider-image {
        align-items: flex-end;

        img {
            position: relative;
            //  top: -23px;
            height: 110%;
            width: auto;
        }
    }

    .header-text {
        font-size: 89px;
        line-height: 89px;
    }

    .copy {
        p {
            margin: 8px 40px;
        }

        a {
            margin-top: 8px;
        }
    }

    .slider-content {
        justify-content: space-around;
    }

}

@include respond-between(xs, md) {
    .biuro {
        margin-top: 0px;
        height: auto !important;
        position: relative;
    }
}

@include respond-between(xxs, xs) {
    .biuro {
        margin-top: 40px;
        height: auto !important;
        position: relative;

        .header-text {
            font-size: 48px;
            line-height: 48px;
        }

        .slider-copy {
            padding-top: 24px;

            p {
                margin: 8px;
                padding: 0;
            }
        }

        .slider-image {
            position: absolute;
            left: 14px;
            bottom: 0px;
            opacity: 0.4;
            margin: 0;

            img {
                height: 100%;
                width: auto;
                top: 0;
            }
        }
    }
}