.no-margin{
    padding-left:0!important;
    width:100%;
    p{
        margin-top:24px;
        padding:0!important;
    }
    ul{
        margin:0!important;
        padding:0!important;
    }
}
.regulamin{
    .border{
        height:auto;
        margin-bottom:24px;
    }
    .slider-copy{
        width:100%;
    }
    .slider-content{
        img{
            justify-self: center;
            align-self: center;
        }
        .header-text{
            font-size: 36px;
            line-height: 36px;
            padding: 10px 0;
        }
    }
}
.reg{
 width:100%;
    li{
        text-align: left;
        list-style-type: decimal;
        padding-top:4px;
        font-size:14px;
        ul{
            padding-left:24px!important;
            li{
                list-style-type: lower-alpha;
            } 
        }
    }
}
.small{  
    li{
        font-size:8px!important;
    }
}
 
