@import './vars.scss';
@import './mixins.scss';

.footer {
    grid-column: 1/4;
    background-color: $highlight;
    color: white;
    text-transform: uppercase;
    display: flex;
    height: 65px;
    justify-content: space-between;
    padding: 0 24px;

    &-company {
        align-self: center;

    }

    ul {
        margin: 0;
        list-style: none;
        align-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        li {
            margin: 0 8px;

            .link {
                color: white;
                text-decoration: none;
                border-radius: $b-radius;
                display: inline-block;
                padding: 8px 12px;

                &:hover {
                    background-color: white;
                    color: $highlight;
                }
            }

            .icon {
                display: flex;
                justify-items: center;
                align-items: center;

            }

            img {
                height: 24px;
                padding: 0 12px;
                transition: $trans;
                position: relative;
                top: -4px;

                &:hover {
                    transform: rotate(-10deg);
                }
            }
        }
    }
}

@include respond-below(sm) {
    .footer{
        height:auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        &-company{
            padding: 8px 0;
        }
        ul{
            flex-direction: column;
            margin:0;
            padding:0;
            li{
                margin: 8px 0;
                &:last-child{
                    display: inline-block;
                }
            }
        }
    }
}