@import '../global/vars.scss';

.oferta-biurowa {
    &-header {
        font-size: 36px;
        text-transform: lowercase;
        font-family: $hanley;
        text-align: center;
        height: auto;
    }

    a {
        display: inline-block;
        margin-right: 8px;
    }

    .highlight {
        span {
            color: $highlight;
        }
        img{
            transform: rotate(180deg)
        }
    }


    .info-siepomaga {
        text-align: center;
        font-size: 12px;

    }
}