@import '../global/vars.scss';
@import '../global/mixins.scss';

.show-all {
    justify-items: center;
    text-align: center;
    font-family: 'core-header';
    text-decoration: none;
    width: 33%;
    margin-bottom: 8px;

    img {
        width: 245px;
        transition: $trans;

    }

    &:hover {
        img {
            transform: rotate(-10deg);
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 40px;

        .arrow {
            width: 80%;
            margin-left: 10%;
        }
    }

    &-items {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        justify-items: center;
        flex-wrap: wrap;

    }

    &-header {
        font-size: 36px;
        font-family: 'hanley';
        padding-bottom: 8px;
        color: $text;
        width: 100%;
        text-align: center;
    }

    &-title {
        text-decoration: none;
        color: $text;

    }

    &-taste {
        font-family: "core-body";
        color: $text;
        text-transform: uppercase;
        font-size: 14px;
        padding-bottom: 4px;
    }

    &-info {
        font-family: "core-body";
        color: $text;
        text-transform: uppercase;
        font-size: 14px;
        padding-top: 4px;

    }

    &-price {
        color: $highlight;
    }

    &-button {
        align-self: center;
        margin: 24px 0;
    }

}

@include respond-below(sm) {
    .show-all {
        width: 100%;
    }
}